<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>MusicX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AllTracksServelet</servlet-name>
    <servlet-class>musicx.servlet.AllTracksServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTracksServelet</servlet-name>
    <url-pattern>/tracks.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrackSearch</servlet-name>
    <servlet-class>musicx.servlet.TrackSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackSearch</servlet-name>
    <url-pattern>/searchTracks.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TracksByGenreServlet</servlet-name>
    <servlet-class>musicx.servlet.TracksByGenreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TracksByGenreServlet</servlet-name>
    <url-pattern>/searchTracksGenre.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TracksByArtistsServlet</servlet-name>
    <servlet-class>musicx.servlet.TracksByArtistsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TracksByArtistsServlet</servlet-name>
    <url-pattern>/searchTracksArtist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TracksByAlbumsServlet</servlet-name>
    <servlet-class>musicx.servlet.TracksByAlbumsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TracksByAlbumsServlet</servlet-name>
    <url-pattern>/searchTracksAlbum.do</url-pattern>
  </servlet-mapping>
</web-app>